@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: #F5F7F9;
    width: 100vw;
    height: 100vh;
}

.wrapper h1{
    text-transform: uppercase;
    color: black;
    font-weight: bold;

    padding-top: 60px;
    padding-left: 45px;

    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;

    margin-bottom: 10px;
}

.wrapper p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: lighter;

    margin-top: 1px;
    padding-left: 45px;
}

.whiteBox{
    margin: auto;
    background-color: rgb(255, 255, 255);

    margin-top: 20px;
    width: 260px;
    height: 330px;

    border-radius: 5%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column
}

#qrcode{
    height: 195px;
    width: 195px;

    margin-bottom: 0px;
}

.whiteBox p{

    margin-left: -47px;

    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: lighter;

    margin-bottom: 8px;
}
.blue{
    color: #5860FF;
    font-weight: bold;
}

#logo{
    height: 40px;
    width: 40px;

    margin-bottom: 2px;
}

.buttonDiv{
    display: flex;
    position: relative
}

#edit{
    background-color: #5860FF;
    height: 40px;
    width: 40px;

    position: relative;
    left: 260px;
    bottom: 30px;

    border-radius: 50%;
   
}

.back{
    position: relative;
    left: 20px;
    top: 50px;

    height: 25px;
    width: 25px;

    cursor: pointer;
}

#iconEdit{
    color: #fff;

    height: 18px;
    width: 18px;
}



