
<ion-content>
  
  <div class="wrapper">
    <ion-icon name="chevron-back-outline" class="back" routerLink="/carrinho/"></ion-icon>
    <h1>Quase lá</h1>
    <p>Pague com o Qrcode abaixo, lembre-se de<br> conferir o valor digitado antes de efetuar o<br> pagamento.</p>

    <div class="whiteBox">
      <img src="assets/imagens/qrcode.jpg" id="qrcode">
        <p>Peça para seu cliente ler o qrcode<br> abaixo e conferir o valor de <span class="blue">R${{ Total | currency }}</span></p> 
      <img src="assets/imagens/nuvemAki.png" id="logo">
     
    </div>
    <div class="buttonDiv">
      <button id="edit"> <ion-icon name="create-outline" id="iconEdit"></ion-icon></button>
    </div>
  </div>

</ion-content>
