#p{
    font-size: 15px;
}


#btn1{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;


    color: #312f2f;
    background-color: #fff;

    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;

    margin-top: 2px;
    margin-left: 70px;
}


#btn1:hover{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;


    color: #e4dede;
    background-color: #5860FF;

    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;

    margin-top: 2px;
    margin-left: 70px;
}