<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Redefinir senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-item lines="full">
      <p id="p">Vamos enviar um link para seu email, por ele você poderá redefinir sua senha.</p>
    </ion-item>

    <form>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            (click)="authService.PasswordRecover(email.value)"
            expand="block"
            id="btn1"
          >
            Enviar Email
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
