.back{
    position: relative;
    left: 20px;
    top: 50px;

    height: 25px;
    width: 25px;

    cursor: pointer;
}

.continuar {
    position: relative;
    border-radius: 15px;
    left: 50px;
    
    
}