<!-- toolbar -->
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button Href="" color=" --ion-color-primary-contrast: #ffffff;"  ></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Lixeira botao -->
<ion-fab id="lixeira">
  <ion-fab-button (click)="confirmardelete()" *ngIf="!modoDeEdicao" color="primary">
    <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
</ion-fab>



<!-- Avatar foto -->
<ion-content>
  <ion-fab vertical="top" horizontal="center" slot="fixed" id="photo">
    <ion-fab-button>
      <label for="input" style="font-size: 25pt; padding: 30px; margin-top: -6px;">
        +
      </label>
      <input id="input" type="file" class="hideInput" (change)="changeListener($event)">
    </ion-fab-button>
  </ion-fab>


<div class="corpo">
    <ion-item *ngIf="!modoDeEdicao" >{{pessoa1.marca}}</ion-item>
    <ion-item *ngIf="!modoDeEdicao">{{pessoa1.nome}}</ion-item>
    <ion-item *ngIf="!modoDeEdicao">{{pessoa1.cor}}</ion-item>
    <ion-item *ngIf="!modoDeEdicao">{{pessoa1.tamanho}}</ion-item>
    <ion-item *ngIf="!modoDeEdicao">{{pessoa1.preco}}</ion-item> 
    <ion-item *ngIf="!modoDeEdicao">{{pessoa1.quantidade}}</ion-item> 
  </div>

<!-- Edit botao -->
  <ion-button id="editbtt" *ngIf="!modoDeEdicao" (click)="iniciarEdicao()" color="    --ion-color-light: #222428; ">Editar</ion-button>

  <form [formGroup]="pessoaForm" *ngIf="modoDeEdicao" (ngSubmit)="encerrarEdicao()">
    <ion-item>
      <ion-label position="floating">Marca:</ion-label>
      <ion-input [(ngModel)]="pessoa1.marca" name="marca" formControlName="marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="pessoa1.nome" name="nome" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cor:</ion-label>
      <ion-input [(ngModel)]="pessoa1.cor" name="cor" formControlName="cor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tamanho:</ion-label>
      <ion-input [(ngModel)]="pessoa1.tamanho" name="tamanho"  formControlName="tamanho"></ion-input> 
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Preço:</ion-label>
      <ion-input [(ngModel)]="pessoa1.preco" name="preco"  formControlName="preco"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade:</ion-label>
      <ion-input [(ngModel)]="pessoa1.quantidade" name="quantidade"  formControlName="quantidade"></ion-input> 
    </ion-item>

    
     
    <ion-button  id="savebtt" type="submit" [disabled]="!pessoaForm.valid" routerLink="/listagens-contatos" color="primary" >✓</ion-button>
  </form>

</ion-content>
